.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 0 !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #fefae6;
}
body {
  font-family: Brygada 1918;
}
.display-1 {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #d9b889 !important;
}
.bg-success {
  background-color: #29d786 !important;
}
.bg-info {
  background-color: #0eccf2 !important;
}
.bg-warning {
  background-color: #ffc001 !important;
}
.bg-danger {
  background-color: #d92738 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #d9b889 !important;
  border-color: #d9b889 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #e5cfb0 !important;
  border-color: #e5cfb0 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e5cfb0 !important;
  border-color: #e5cfb0 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0eccf2 !important;
  border-color: #0eccf2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #3ed6f5 !important;
  border-color: #3ed6f5 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3ed6f5 !important;
  border-color: #3ed6f5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #29d786 !important;
  border-color: #29d786 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #54df9e !important;
  border-color: #54df9e !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #54df9e !important;
  border-color: #54df9e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc001 !important;
  border-color: #ffc001 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffcd34 !important;
  border-color: #ffcd34 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffcd34 !important;
  border-color: #ffcd34 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #d92738 !important;
  border-color: #d92738 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e15260 !important;
  border-color: #e15260 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e15260 !important;
  border-color: #e15260 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #d9b889;
  color: #d9b889;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c49147 !important;
  background-color: transparent !important;
  border-color: #c49147 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #d9b889 !important;
  border-color: #d9b889 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #4d5e85;
  color: #4d5e85;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2d374e !important;
  background-color: transparent !important;
  border-color: #2d374e !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0eccf2;
  color: #0eccf2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0987a1 !important;
  background-color: transparent !important;
  border-color: #0987a1 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0eccf2 !important;
  border-color: #0eccf2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #29d786;
  color: #29d786;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1b8f59 !important;
  background-color: transparent !important;
  border-color: #1b8f59 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #29d786 !important;
  border-color: #29d786 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc001;
  color: #ffc001;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #a97f00 !important;
  background-color: transparent !important;
  border-color: #a97f00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc001 !important;
  border-color: #ffc001 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #d92738;
  color: #d92738;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #901925 !important;
  background-color: transparent !important;
  border-color: #901925 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #d92738 !important;
  border-color: #d92738 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #d9b889 !important;
}
.text-secondary {
  color: #4d5e85 !important;
}
.text-success {
  color: #29d786 !important;
}
.text-info {
  color: #0eccf2 !important;
}
.text-warning {
  color: #ffc001 !important;
}
.text-danger {
  color: #d92738 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #bf893d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #283044 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #188251 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #087b92 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #9a7400 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #831721 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #d9b889;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0eccf2;
}
.alert-warning {
  background-color: #ffc001;
}
.alert-danger {
  background-color: #d92738;
}
.mbr-gallery-filter li.active .btn {
  background-color: #d9b889;
  border-color: #d9b889;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #d9b889;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d5f7e7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d0f5fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff3cd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f8d4d8;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #d9b889 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Brygada 1918', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #d9b889;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #d9b889;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #d9b889;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #d9b889;
  border-bottom-color: #d9b889;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #d9b889 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4d5e85 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23d9b889' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-ukVgFwumaV {
  z-index: 1000;
  width: 100%;
}
.cid-ukVgFwumaV nav.navbar {
  position: fixed;
}
.cid-ukVgFwumaV .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ukVgFwumaV .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-ukVgFwumaV .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ukVgFwumaV .dropdown-item:hover,
.cid-ukVgFwumaV .dropdown-item:focus {
  background: #d9b889 !important;
  color: white !important;
}
.cid-ukVgFwumaV .dropdown-item:hover span {
  color: white;
}
.cid-ukVgFwumaV .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ukVgFwumaV .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ukVgFwumaV .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ukVgFwumaV .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ukVgFwumaV .nav-link {
  position: relative;
}
.cid-ukVgFwumaV .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-ukVgFwumaV .container {
    flex-wrap: wrap;
  }
}
.cid-ukVgFwumaV .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-ukVgFwumaV .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-ukVgFwumaV .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-ukVgFwumaV .dropdown-menu,
.cid-ukVgFwumaV .navbar.opened {
  background: #232323 !important;
}
.cid-ukVgFwumaV .nav-item:focus,
.cid-ukVgFwumaV .nav-link:focus {
  outline: none;
}
.cid-ukVgFwumaV .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ukVgFwumaV .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ukVgFwumaV .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ukVgFwumaV .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ukVgFwumaV .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ukVgFwumaV .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ukVgFwumaV .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(35, 35, 35, 0.7);
}
.cid-ukVgFwumaV .navbar.opened {
  transition: all 0.3s;
}
.cid-ukVgFwumaV .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ukVgFwumaV .navbar .navbar-logo img {
  width: auto;
}
.cid-ukVgFwumaV .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ukVgFwumaV .navbar.collapsed {
  justify-content: center;
}
.cid-ukVgFwumaV .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ukVgFwumaV .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-ukVgFwumaV .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ukVgFwumaV .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ukVgFwumaV .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ukVgFwumaV .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ukVgFwumaV .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ukVgFwumaV .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ukVgFwumaV .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ukVgFwumaV .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ukVgFwumaV .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ukVgFwumaV .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ukVgFwumaV .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ukVgFwumaV .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ukVgFwumaV .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ukVgFwumaV .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ukVgFwumaV .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ukVgFwumaV .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ukVgFwumaV .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-ukVgFwumaV .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-ukVgFwumaV .navbar.navbar-short {
  min-height: 60px;
}
.cid-ukVgFwumaV .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-ukVgFwumaV .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-ukVgFwumaV .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-ukVgFwumaV .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-ukVgFwumaV .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ukVgFwumaV .dropdown-item.active,
.cid-ukVgFwumaV .dropdown-item:active {
  background-color: transparent;
}
.cid-ukVgFwumaV .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ukVgFwumaV .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ukVgFwumaV .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ukVgFwumaV .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-ukVgFwumaV .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ukVgFwumaV .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ukVgFwumaV ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ukVgFwumaV .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ukVgFwumaV button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ukVgFwumaV button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-ukVgFwumaV button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ukVgFwumaV button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ukVgFwumaV button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ukVgFwumaV button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ukVgFwumaV nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ukVgFwumaV nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-ukVgFwumaV nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-ukVgFwumaV nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-ukVgFwumaV .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ukVgFwumaV a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ukVgFwumaV .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ukVgFwumaV .navbar {
    height: 70px;
  }
  .cid-ukVgFwumaV .navbar.opened {
    height: auto;
  }
  .cid-ukVgFwumaV .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ukVgc9Nu6x {
  display: flex;
  background-image: url("../../../assets/images/backlane-coffee-photo-1440x1080.jpg");
}
.cid-ukVgc9Nu6x .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-ukVgc9Nu6x {
    align-items: center;
  }
  .cid-ukVgc9Nu6x .row {
    justify-content: center;
  }
  .cid-ukVgc9Nu6x .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ukVgc9Nu6x .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-ukVgc9Nu6x {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-ukVgc9Nu6x .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-ukVgc9Nu6x .content-wrap {
    width: 100%;
  }
}
.cid-ukVgc9Nu6x .mbr-section-title,
.cid-ukVgc9Nu6x .mbr-section-subtitle {
  text-align: center;
}
.cid-ukVgc9Nu6x .mbr-text,
.cid-ukVgc9Nu6x .mbr-section-btn {
  text-align: center;
}
.cid-ukVgc9Nu6x .mbr-section-title {
  text-align: center;
}
.cid-ukVv26jiWZ {
  background-color: #e7d4b3;
}
.cid-ukVv26jiWZ img {
  width: 90%;
  object-fit: cover;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-ukVv26jiWZ img {
    width: 100%;
  }
  .cid-ukVv26jiWZ .pb-5 {
    padding-bottom: 1rem !important;
  }
}
.cid-ukVv26jiWZ ol {
  padding: 0;
  margin: 0;
}
.cid-ukVv26jiWZ li {
  padding-bottom: 1rem;
  line-height: 1.4;
}
.cid-ukVv26jiWZ .counter-container2 ol {
  counter-reset: start 4;
}
.cid-ukVv26jiWZ .counter-container2 li {
  display: block;
}
.cid-ukVv26jiWZ .counter-container2 li:before {
  content: counter(start) '. ';
  counter-increment: start;
}
.cid-ukVv26jiWZ .counter-container1 ol {
  counter-reset: start 0;
}
.cid-ukVv26jiWZ .counter-container1 li {
  display: block;
}
.cid-ukVv26jiWZ .counter-container1 li:before {
  content: counter(start) '. ';
  counter-increment: start;
}
.cid-ukVv26jiWZ li:before {
  color: #d9b889;
}
.cid-ukVv26jiWZ H3 {
  color: #000000;
}
.cid-ukVv26jiWZ .text {
  color: #000000;
}
.cid-ukWlcPd6iH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-ukWlcPd6iH .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-ukWlcPd6iH .team-card:hover {
  transform: translateY(-10px);
}
.cid-ukWlcPd6iH .image-wrap {
  overflow: hidden;
  cursor: pointer;
}
.cid-ukWlcPd6iH .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-ukWlcPd6iH .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-ukWlcPd6iH .card-wrap .image-wrap img {
  width: 100%;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .cid-ukWlcPd6iH .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-ukWlcPd6iH .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-ukWlcPd6iH .card-wrap:hover img {
  transform: scale(1.05);
}
.cid-ukWlcPd6iH .social-row {
  text-align: center;
}
.cid-ukWlcPd6iH .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #d9b889;
  transition: all 0.3s;
}
.cid-ukWlcPd6iH .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #d9b889;
  font-size: 1.5rem;
}
.cid-ukWlcPd6iH .social-row .soc-item:hover {
  background-color: #d9b889;
}
.cid-ukWlcPd6iH .social-row .soc-item:hover .mbr-iconfont {
  color: #000000;
}
.cid-ukWlcPd6iH .mbr-section-title {
  color: #000000;
}
.cid-ukWlcPd6iH .mbr-section-subtitle {
  color: #000000;
}
.cid-ukWlcPd6iH .mbr-role,
.cid-ukWlcPd6iH .social-row {
  text-align: center;
  color: #000000;
}
.cid-ukWlcPd6iH .card-title,
.cid-ukWlcPd6iH .social-row {
  color: #000000;
}
.cid-ukVgc9OafH .mbr-fallback-image.disabled {
  display: none;
}
.cid-ukVgc9OafH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-ukWsyddagp {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-ukWsyddagp .mbr-fallback-image.disabled {
  display: none;
}
.cid-ukWsyddagp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ukWsyddagp .mbr-section-title {
  color: #000000;
}
.cid-ukW8OV0fxq {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-ukW8OV0fxq .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-ukW8OV0fxq .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-ukW8OV0fxq .text-block {
  padding-right: 5rem;
}
.cid-ukW8OV0fxq .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-ukW8OV0fxq .underline .line {
  width: 5rem;
  height: 3px;
  background: #e7d4b3;
  display: inline-block;
}
.cid-ukW8OV0fxq .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-ukW8OV0fxq .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-ukW8OV0fxq .social-media ul li .mbr-iconfont:hover {
  color: #e7d4b3;
}
@media (max-width: 767px) {
  .cid-ukW8OV0fxq .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-ukW8OV0fxq .img-block {
    margin-bottom: 1rem;
  }
  .cid-ukW8OV0fxq .text-block {
    padding: 0 15px;
  }
}
.cid-ukW8OV0fxq .mbr-section-text,
.cid-ukW8OV0fxq .underline,
.cid-ukW8OV0fxq .social-media {
  color: #000000;
}
.cid-ukW8OV0fxq .mbr-section-title {
  color: #000000;
}
.cid-ukWrz3BCP5 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #e7d4b3;
}
.cid-ukWrz3BCP5 .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-ukWrz3BCP5 .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-ukWrz3BCP5 .text-block {
  padding-right: 5rem;
}
.cid-ukWrz3BCP5 .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-ukWrz3BCP5 .underline .line {
  width: 5rem;
  height: 3px;
  background: #000000;
  display: inline-block;
}
.cid-ukWrz3BCP5 .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-ukWrz3BCP5 .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-ukWrz3BCP5 .social-media ul li .mbr-iconfont:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ukWrz3BCP5 .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-ukWrz3BCP5 .img-block {
    margin-bottom: 1rem;
  }
  .cid-ukWrz3BCP5 .text-block {
    padding: 0 15px;
  }
}
.cid-ukWrz3BCP5 .mbr-section-text,
.cid-ukWrz3BCP5 .underline,
.cid-ukWrz3BCP5 .social-media {
  color: #000000;
}
.cid-ukWrz3BCP5 .mbr-section-title {
  color: #000000;
}
.cid-ukWrzK2HrP {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-ukWrzK2HrP .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-ukWrzK2HrP .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-ukWrzK2HrP .text-block {
  padding-right: 5rem;
}
.cid-ukWrzK2HrP .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-ukWrzK2HrP .underline .line {
  width: 5rem;
  height: 3px;
  background: #e7d4b3;
  display: inline-block;
}
.cid-ukWrzK2HrP .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-ukWrzK2HrP .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-ukWrzK2HrP .social-media ul li .mbr-iconfont:hover {
  color: #e7d4b3;
}
@media (max-width: 767px) {
  .cid-ukWrzK2HrP .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-ukWrzK2HrP .img-block {
    margin-bottom: 1rem;
  }
  .cid-ukWrzK2HrP .text-block {
    padding: 0 15px;
  }
}
.cid-ukWrzK2HrP .mbr-section-text,
.cid-ukWrzK2HrP .underline,
.cid-ukWrzK2HrP .social-media {
  color: #000000;
}
.cid-ukWrAlsPBv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #e7d4b3;
}
.cid-ukWrAlsPBv .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-ukWrAlsPBv .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-ukWrAlsPBv .text-block {
  padding-right: 5rem;
}
.cid-ukWrAlsPBv .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-ukWrAlsPBv .underline .line {
  width: 5rem;
  height: 3px;
  background: #000000;
  display: inline-block;
}
.cid-ukWrAlsPBv .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-ukWrAlsPBv .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-ukWrAlsPBv .social-media ul li .mbr-iconfont:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ukWrAlsPBv .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-ukWrAlsPBv .img-block {
    margin-bottom: 1rem;
  }
  .cid-ukWrAlsPBv .text-block {
    padding: 0 15px;
  }
}
.cid-ulcueUVOVQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-ulcueUVOVQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-ukVgc9O7jX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ukVgc9O7jX .mbr-fallback-image.disabled {
  display: none;
}
.cid-ukVgc9O7jX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-ukVgc9O7jX .container-fluid {
    padding: 0;
  }
}
.cid-ukVgc9O7jX .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-ukVgc9O7jX .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-ukVgc9O7jX .embla__slide a {
  display: block;
  width: 100%;
}
.cid-ukVgc9O7jX .embla__button--next,
.cid-ukVgc9O7jX .embla__button--prev {
  display: flex;
}
.cid-ukVgc9O7jX .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-ukVgc9O7jX .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-ukVgc9O7jX .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-ukVgc9O7jX .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-ukVgc9O7jX .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ukVgc9O7jX .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-ukVgc9O7jX .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-ukVgc9O7jX .embla {
  position: relative;
  width: 100%;
}
.cid-ukVgc9O7jX .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-ukVgc9O7jX .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-ukVgc9O7jX .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-ukVgc9O7jX .embla__slide a {
  cursor: grab;
}
.cid-ukVgc9O7jX .embla__slide a:active {
  cursor: grabbing;
}
.cid-ukVgc9O7jX .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-ukVgc9O7jX .item-menu-overlay {
  border-radius: 2rem;
}
.cid-ukVgc9O7jX .mbr-section-title {
  color: #232323;
}
.cid-ukVgc9O7jX .mbr-section-subtitle {
  color: #232323;
}
.cid-ukVgc9O7jX .mbr-box {
  color: #ffffff;
}
.cid-ukVgc9O7jX .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-ukVgc9O7jX img,
.cid-ukVgc9O7jX .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ukVgc9O7jX .item-wrapper {
  position: relative;
}
.cid-ukVgc9O7jX .content-head {
  max-width: 800px;
}
.cid-ulcsNXWbsa {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #e7d4b3;
}
.cid-ulcsNXWbsa img,
.cid-ulcsNXWbsa .item-img {
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-ulcsNXWbsa .item:focus,
.cid-ulcsNXWbsa span:focus {
  outline: none;
}
.cid-ulcsNXWbsa .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ulcsNXWbsa .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-ulcsNXWbsa .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-ulcsNXWbsa .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-ulcsNXWbsa .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-ulcsNXWbsa .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-ulcsNXWbsa .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ulcsNXWbsa .mbr-section-title {
  color: #232323;
}
.cid-ulcsNXWbsa .mbr-text,
.cid-ulcsNXWbsa .mbr-section-btn {
  text-align: center;
}
.cid-ulcsNXWbsa .item-title {
  text-align: center;
}
.cid-ulcsNXWbsa .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-ulcElYwJKG {
  display: flex;
  background-image: url("../../../assets/images/download-17-2000x1388.png");
}
.cid-ulcElYwJKG .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-ulcElYwJKG {
    align-items: center;
  }
  .cid-ulcElYwJKG .row {
    justify-content: center;
  }
  .cid-ulcElYwJKG .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ulcElYwJKG .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-ulcElYwJKG {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-ulcElYwJKG .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-ulcElYwJKG .content-wrap {
    width: 100%;
  }
}
.cid-ulcElYwJKG .mbr-section-title,
.cid-ulcElYwJKG .mbr-section-subtitle {
  text-align: center;
}
.cid-ulcElYwJKG .mbr-text,
.cid-ulcElYwJKG .mbr-section-btn {
  text-align: center;
}
.cid-ulcElYwJKG .mbr-section-title {
  text-align: center;
}
.cid-ukVgc9Uaxv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-ukVgc9Uaxv .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-ukVgc9Uaxv form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-ukVgc9Uaxv form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-ukVgc9Uaxv form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-ukVgc9Uaxv .content-head {
  max-width: 800px;
}
.cid-uli7Dyud8V {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
  overflow: hidden;
}
